.top {background-color:navy;
width: 100vw;
height: 100vh;
padding:0;
margin:0;}
.a{background-color:pink;
width: 100vw;
height: 100vh;
padding:0;
margin:0;}
.b{background-color:red;
width: 100vw;
height: 100vh;
padding:0;
margin:0;}
.c{background-color:yellow;
width: 100vw;
height: 100vh;
padding:0;
margin:0;}
.d{background-color:green;
width: 100vw;
height: 100vh;
padding:0;
margin:0;}
.e{background-color:orange;
width: 100vw;
height: 100vh;
padding:0;
margin:0;}

.links li{list-style-type: none;
margin: 0;
padding: 0;
display:inline-block;}

.links a{text-decoration: none;
margin: 20px;
color:yellow;}

.links a:hover{color:red;}

body {font-family: Cormorant, serif;
color:blue;}

h1{word-spacing: 10px;}

table, th, td {border: 1px solid black;}
div {display: inline-block;}




